.header {

    /* display: inline-block;
    padding: 12px;
    margin: 1; */
    background-color: rgb(12, 178, 207);
    text-align: center;
    display: inline-block;

    width: 600px;

    /* text-align: center; */
    /* height: 100px;
    width: 250px; */
    border-radius: 10px;
    cursor:grab;
    transition: 200ms;
}

.centering {
    padding: 10px;
    text-align: center;
}

.tasks {
    text-align: center;
    /* padding: 2px; */;
    background-color: rgba(171, 200, 207, 0.932);
}

.Complete_Class {
    display: inline-block;
    border-radius: 12px;
    width: 400px;
    background-color: rgb(104, 255, 66);
}



.list_of_task {
    display: inline-block;
    background-color: rgba(199, 147, 212, 0.959);
    padding: 12px;
    border-radius: 10px;
    width: 300px;
}

.h3_tag,
.h2_tag,
.over_tasks {
    text-align: center;
}

.ul_tag_list {
    margin: 5px;
    display:ruby;
    list-style-type: none;
    align-items: center;
}

li{
    /* padding: 10px; */
    margin: 7.6px;
}

.ul_tag_list :hover {
    cursor:auto;
}

.input_tag {
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    /* display: flex; */
}




.get_tag {
    padding: 5px;
    margin: 10px;
    border-style:dashed;
    border-color: rgb(0, 0, 0);
    border-radius: 3.3px;

}

.sumbit_tag,
.reset_tag {
    margin: 10px;
    padding: 4.5px;
    border-style:double;
    border-color: rgb(10, 7, 14);
    border-radius:4.5px;
    background-color: rgb(157, 201, 250);
    
}

.sumbit_tag:hover{
    cursor: pointer;

}